.unit-card {
  flex-grow: 1;

  // used in src/course-outline/card-header/TitleLink.jsx &
  // src/course-outline/card-header/TitleButton.jsx as
  // `${namePrefix}-card-title`
  .unit-card-title {
    font-size: 1.04rem;
    font-family: 'Inter', sans-serif;
    font-weight: 700;
    line-height: 1.25;
    color: #303745;
    letter-spacing: -.01em;
  }

  .unit-card__content {
    margin-left: 1.1rem;
    margin-top: .28rem;
  }
}
